# ignore node_modules if installed here (e.g. by npm install)
node_modules/

# ignore configuration files for local development
/local/

# binary compilation output
build/

# IntelliJ Idea project files
.idea/

# VSCode project files
.vscode/
.devcontainer/

/backend/lib/res/valetudo.openapi.schema.json

/docs/vendor
/docs/_site
