language: node_js
node_js:
- '9'
dist: trusty
sudo: true

install:
- npm install

script:
- "./node_modules/.bin/pkg --targets latest-linux-armv7 --no-bytecode --options max-old-space-size=72 --public-packages=exif-parser,omggif,trim,prettycron,mqtt ."

deploy:
  provider: releases
  api_key:
    secure: "fDgACwpgHwsZa4FLVCs++LNamaAKzZ890hF7E06tHDdUxWNZQfG0e0BV7LtIG0jDAh31GuMPyiwd7Y8gfsZY8nRq9/LMUQCZ4/ll3VHto4Tw1w348bekeBVGLnBRad+BJrgqSeLmUZwfFIc4J+Eqa70hHMfiSn0qxH6qXfQ8LzCmrkxgb8jxdRtvrJv8wnLTgspzGUfKjn6RIGCmH03JSd5/vXT21M1tLnIYFwc9ePvb1MNgGFq8E9neyZrCB5p19xRJdoGch3L2OJFGIPv70V32qLjXUi/I1oomJhRlmNM3LWayAtnSt706GEbFDU8lTatb0LlcEHdUMH2/Jru8a4OQesMaGGp0QGYEtH5aIXU4OuKX/qAJ725U0s4NermZzJJ/01Pwz43HB+DC2zx4JC7yTvCd5qHbgPPpbLR7klql5mta7dbyUmEC1cREXTIHRFTA3EmEpfp+anuLF/KNpo4V8Uv4dITv2slLHoB2dz87HCjzz7hTAz9Qnzn9CvzLPNXGGZcih4RDUtsvlGfCF+l9gmr6LNBxci241rLn34WnYzhhSudWf6pMe93apTaMPO+xgQgQFdGFPqIzhau5KyedEs4gNVGGmHaxF/A9ncnLVvPbZXM503zc68PNW1wLhCvbHJ8bFd1TgeCVQ1sXD6CklLMQVVtKdSSuWscS55c="
  file: "valetudo"
  skip_cleanup: true
  on:
    branch: master
    tags: true
