<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% endif %}Valetudo</title>
    <meta name="description" content="Cloud replacement for vacuum robots enabling local-only operation">

    <!-- SEO & OpenGraph Metadata -->
    <meta property="og:title" content="{% if title %}{{ title }} - {% endif %}Valetudo">
    <meta property="og:description" content="Cloud replacement for vacuum robots enabling local-only operation">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://valetudo.cloud{{ page.url }}">
    <meta property="og:image" content="https://valetudo.cloud/img/valetudo_logo_with_name.svg">

    <link rel="alternate" type="application/atom+xml" title="Valetudo Releases RSS Feed" href="https://github.com/Hypfer/Valetudo/releases.atom" />

    <script>
        // Social media (of which HN is one) are places that delete context. This is bad for a project like Valetudo,
        // which operates on different rules/visions/ideals than the current default, meaning that it relies on
        // people first processing the context provided in the docs (e.g. CoC, Why-not-Valetudo, FAQ, Contributing.md)
        //
        // Telling people to please consider context first has proven to be a futile move, meaning that every _single_ time
        // Valetudo gets posted there, it devolves and turns into shitflinging with nice words.
        // Every single time, you see
        // 1. The same few people that show up every time to voice their long-running grievances
        // 2. An ever-changing set of new people that ran into a wall of required context and process the negative emotions sparked from that
        // 3. Drive-by "advice" that boils down to "Hey, what about you just do the default"
        // 4. General trolling (Actually, this can at least be fun if done creatively)
        //
        // As said, the same is true for any large social media platform, however, doing the same with e.g. reddit would
        // have massive collateral damage. Not so much for HN.
        //
        // The idea here being not necessarily to "keep out" people, but rather "introduce friction" so that the usual drive-by nonsense doesn't happen
        // I expect that a lot of people that would otherwise mindlessly boost it for the (very simplistic) algorithm,
        // will just end up confused and ignore the post, leading to those that manually type the domain to be (a bit) pre-filtered
        //
        // If you're seeing this, chances are already a lot higher that you might comprehend the concept of context
        // If not, please just go away, thank you.
        //if (document.referrer.includes("news.ycombinator")) {window.location.replace(document.referrer)}
    </script>

    <link rel="stylesheet" href="/assets/fonts/ibm-plex-sans/400.css?v={{ buildTime }}">
    <link rel="stylesheet" href="/assets/fonts/ibm-plex-sans/500.css?v={{ buildTime }}">
    <link rel="stylesheet" href="/assets/fonts/ibm-plex-sans/600.css?v={{ buildTime }}">
    <link rel="stylesheet" href="/assets/fonts/ibm-plex-sans/700.css?v={{ buildTime }}">
    <link rel="stylesheet" href="/assets/fonts/ibm-plex-mono/400.css?v={{ buildTime }}">
    <link rel="stylesheet" href="/assets/css/style.css?v={{ buildTime }}">
    
    <script src="/assets/js/si.js?v={{ buildTime }}" defer></script>
  </head>
  <body>
    <header class="top-bar">
      <a href="/" class="top-bar-logo">
        <img src="/img/valetudo_logo_with_name.svg" alt="Valetudo">
      </a>
    </header>

    <div class="wrapper">
      <aside class="sidebar">
        {% include "nav.njk" %}
      </aside>

      <main>
        {{ content | safe }}
      </main>
    </div>

    <div class="mobile-drawer">
      <div class="mobile-drawer-content">
        {% include "nav.njk" %}
      </div>
      <div class="mobile-drawer-handle">
        <img src="/img/valetudo_logo_with_name.svg" alt="Valetudo" class="mobile-drawer-logo">
        <span class="mobile-drawer-caret"></span>
      </div>
    </div>

    <script src="/assets/js/nav.js?v={{ buildTime }}" defer></script>
  </body>
</html>