/*Dark theme for valetudo map. See valetudo-map.css for corresponding light theme*/
:root {
    --map-background-1: #0d0d0d;
    --map-background-2: #0d0d0d;
    --map-free: #0076ff;
    --map-occupied: #52aeff;
    --path: #000000;
}

.map-page-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: stretch;
    align-items: stretch;
}

canvas#map-canvas {
    height: 100%;
    width: 100%;
    touch-action: none;
    background-image: linear-gradient(var(--map-background-1), var(--map-background-2));
}

.map-page-buttons {
    position: absolute;
    right: 1.5em;
    bottom: 1.5em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0.5em;
}

.map-page-buttons > ons-fab {
    background-color: #212121;
    color: #aaa;
} 
